{{template "base" .}}

{{define "content"}}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Make a Reservation</h1>
            <p>Reservation Details</p>
            {{$res := index .Data "reservation"}}
            <form action="/make-reservation" method="post" class="" novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                <div class="form-group mt-5">
                    <label for="first_name">First name:</label>
                    {{ with .Form.Errors.Get "first_name" }}
                    <label for="" class="text-danger">{{.}}</label>
                    {{ end }}
                    <input type="text" name="first_name" id="first_name" class="form-control {{with .Form.Errors.Get "first_name"}}is-invalid {{end}}" required value="{{$res.FirstName}}">
                </div>
                <div class="form-group">
                    <label for="last_name">Last name:</label>
                    {{ with .Form.Errors.Get "last_name" }}
                    <label for="" class="text-danger">{{.}}</label>
                    {{ end }}
                    <input type="text" name="last_name" id="last_name" class="form-control {{with .Form.Errors.Get "last_name"}}is-invalid {{end}}" required value="{{$res.LastName}}">
                </div>

                <div class="form-group">
                    <label for="start_date">Start Date:</label>
                    {{ with .Form.Errors.Get "start_date" }}
                    <label for="" class="text-danger">{{.}}</label>
                    {{ end }}
                    <input type="text" name="start_date" id="start_date" class="form-control {{with .Form.Errors.Get "start_date"}}is-invalid {{end}}" required value="{{$res.LastName}}">
                </div>

                <div class="form-group">
                    <label for="end_date">End Date:</label>
                    {{ with .Form.Errors.Get "end_date" }}
                    <label for="" class="text-danger">{{.}}</label>
                    {{ end }}
                    <input type="text" name="end_date" id="end_date" class="form-control {{with .Form.Errors.Get "end_date"}}is-invalid {{end}}" required value="{{$res.LastName}}">
                </div>

                <input type="hidden" name="room_id" value="1">

                <div class="form-group">
                    <label for="email">Email:</label>
                    {{ with .Form.Errors.Get "email" }}
                    <label for="" class="text-danger">{{.}}</label>
                    {{ end }}
                    <input type="email" name="email" id="email" class="form-control {{with .Form.Errors.Get "email"}}is-invalid {{end}}" required value="{{$res.Email}}">
                </div>
                <div class="form-group">
                    <label for="phone">Phone number:</label>
                    {{ with .Form.Errors.Get "phone" }}
                    <label for="" class="text-danger">{{.}}</label>
                    {{ end }}
                    <input type="text" name="phone" id="phone" class="form-control {{with .Form.Errors.Get "phone"}}is-invalid {{end}}" required value="{{$res.Phone}}">
                </div>
                <hr>
                <input type="submit" class="btn btn-primary" value="Make Reservation">
            </form>
        </div>
    </div>
</div>

{{end}}